body {
    margin: 0;
    padding: 0;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    color: #444444;
    background-color: white;
}

h1 {
    text-align: center;
}

header {
    padding: 5px 0;
    background-color: white;
    z-index: 1;
}

#logo-img {
    margin: auto;
    width: 5%;
    display: block;
}

#menu-nav {
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.2);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

#navigation-bar ul {
    text-align: center;
    width: 30%;
    overflow: hidden;
    margin: auto;
    padding: 0px;
}

#navigation-bar li {
    float: left;
    width: 25%;
}

#navigation-bar li:hover a::before {
    right: 0;
    left: 0;
}

#navigation-bar a {
    color: #444444;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

#navigation-bar a:hover {
    color: #0054a6;
}

#navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #0054a6;
}

#navigation-bar a:hover::before {
    right: 0;
    left: 0;
}

li {
    list-style: none;
}

#background-img-container {
    overflow: hidden;
    margin-top: -8%;
}

#background-img {
    width: 100%;
    position: fixed;
    z-index: -1;
}

#slider-container {
    box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 40%;
    height: 100000px;
    background-color: white;
}

#about-company-container {
    text-align: center;
    margin: auto;
    width: 50%;
}

#about-company-header {
    padding: 10px;
}

#about-company-dropdown {}

.dropdown-submenu {
    position: relative;
    padding: 0;
    top: 0;
    margin-top: -1px;
}

.dropdown-content {
}

.dropdown-title {
}

.dropdown-img {
    margin: 0;
    padding: 10px;
    width: 60%;
}

.dropdown-txt {
    padding: 0;
    margin: 0;
    text-align: left;
}