html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    color: #444444;
    background-color: white;
    font-size: large;
}

p {
    margin: 0;
    padding: 5px;
}

h1 {
    text-align: center;
}

header {
    padding: 5px 0;
    background-color: white;
    z-index: 1;
}

footer {
    background-image: url("../media/footer.jpg");
    margin: 0;
    margin-top: 30px;
    padding: 0;
    text-align: center;
    color: #aeaeae;
    font-size: medium;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

details>summary {
    list-style: none;
}

#logo-img {
    margin: auto;
    width: 5%;
    display: block;
}

#menu-nav {
    box-shadow: 0px 8px 5px -5px rgba(0, 0, 0, 0.2);
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

#navigation-bar ul {
    text-align: center;
    width: 30%;
    overflow: hidden;
    margin: auto;
    padding: 0px;
}

#navigation-bar li {
    float: left;
    width: 25%;
}

#navigation-bar li:hover a::before {
    right: 0;
    left: 0;
}

#navigation-bar a {
    color: #444444;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

#navigation-bar a:hover {
    color: #0054a6;
}

#navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #0054a6;
}

#navigation-bar a:hover::before {
    right: 0;
    left: 0;
}

#background-img-container {
    overflow: hidden;
    margin-top: -10%;
}

#background-img {
    width: 100%;
    position: fixed;
    z-index: -1;
}

#slider-container {
    box-shadow: 0px -8px 5px -5px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 35%;
    background-color: white;
}

#about-company-container {
    text-align: center;
    margin: auto;
    width: 50%;
}

#about-company-header {
    padding-top: 30px;
    margin-bottom: 20px;
}

#about-company-title {
    margin: 0;
    padding: 10px;
}

#about-company-txt {
    margin: 0;
    padding: 10px;
}

.dropdown-element-shadowbox {
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.dropdown-element {
    margin-top: 20px;
    padding: 15px;
    box-shadow: inset 0px 0px 10px 30px rgba(0, 0, 0, 0.01);
    text-align: right;
}

.dropdown-title {
    float: left;
    margin: 0;
    padding: 10px;
}

.dropdown-toggle {
    display: inline;
    width: 50px;
    margin: auto;
    padding: 10px;
    font-size: 40px;
    color: #909090;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.dropdown-toggle:hover {
    color: #0054a6;
}

.dropdown-content {
    clear: both;
}

.dropdown-img-container {
    padding: 10px;
    text-align: center;
    width: 100%;
}

.dropdown-img {
    width: 60%;
}

.dropdown-txt {
    margin: 0;
    padding: 10px;
    text-align: left;
}

#contact-us {
    padding: 10px;
}

#contact-us-header {
    margin: 0;
    padding: 10px;
    font-size: 30px;
}

#contacts {    
    font-size: medium;
    padding: 5px;
    margin: auto;
    text-align: center;
}

.contacts-column {
    margin: 0;
    text-align: left;
    display: inline-block;
}

#copyright {
    clear: both;
    padding: 5px;
    background-color: #282a2b;
}